body {
    background-color: aquamarine;
}
.container-fluid {
    width: 80%;
   
}

.card {
    margin-top: 20px;

}

.title {
    text-align: left;
    padding: 10px;
    margin-left: 10px;
}
.addCostcenter a {
    float: right;
    padding: 10px;
    margin-right: 15px;

}
.header {
    float: right;
    padding: 10px;
    margin-right: 10px;
  
}
#edit-pr-header {
    width: 120px;
    background-color: blueviolet;

}
#show-pr {
    width: 120px;
}
#input-pr-lines{
    width: 120px;
}
#promote-pr {
    width: 120px;
    background-color:#e580ff;
}

#back-to-pr-list {
    float: right;
    width: 120px;
    background-color: brown;
}
#edit-pr-body {
    width: 120px;
    background-color: brown;

}
#delete-pr {
    width: 120px;
    background-color: red;
}