body {
    background-color: aquamarine;
}
.container-fluid{
    width: 80%;
   
}


.card{

    margin-top: 20px;
    
    
}

.title h2{
    text-align: left;
    padding: 10px;
    margin-left: 10px;
}
.addCostcenter a{
    float: right;
    padding: 10px;
    margin-right: 15px;

}